<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Bookmarks</title>
      <link type="text/css" rel="stylesheet" href="style.css" />
  </head>

  <body>
    <div class="container">
      <form action="/bookmarks" method="post">
        <input type="input" name="url">
        <input type="input" name="title">
        <input type="submit" value="Save page">
      </form>
    </div>
  </body>

</html>
