<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Bookmarks</title>
      <link type="text/css" rel="stylesheet" href="style.css" />
  </head>

  <body>
    <div class="container">
      <ul>
        <% @bookmarks.each do |bookmark| %>
          <div class="row">
            <li>
              <div class="col bookmark_name">
                <a href="<%= bookmark.url %>">
                  <%= bookmark.title %>
                </a>
              </div>
              <div class="col delete_box">
                <form action="/bookmarks/<%= bookmark.id%>" method="post">
                  <input id="hidden" type="hidden" name="_method" value="delete">
                  <input type="submit" value="delete">
                </form>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </body>

</html>
